<?xml version="1.0" encoding="utf-8"?>
<?define ProductName='Couch Explorer' ?>
<?define Manufacturer='Flamtap' ?>
<?define UpgradeCode='{a0c05f39-8258-4f14-9ef9-738d55d9a3fa}' ?>
<?define Icon='couch.ico' ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Id='*'
           Name='$(var.ProductName)'
           Language='1033'
           Version='$(var.Version)'
           Manufacturer='$(var.Manufacturer)'
           UpgradeCode='$(var.UpgradeCode)'>

    <Package Description='$(var.ProductName) $(var.Version)'
             Manufacturer='$(var.Manufacturer)'
             InstallerVersion='300'
             Compressed='yes' />

    <Upgrade Id='$(var.UpgradeCode)'>
      <UpgradeVersion Maximum="$(var.Version)"
                      Property="PREVIOUSVERSIONSINSTALLED"
                      IncludeMinimum="yes"
                      IncludeMaximum="no" />
    </Upgrade>

    <Media Id='1' Cabinet='product.cab' EmbedCab='yes' />

    <Icon Id="couchExplorer.ico" SourceFile='$(var.Icon)' />
    <Property Id="ARPPRODUCTICON" Value="couchExplorer.ico" />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='Program Files'>
        <Directory Id='ManufacturerFolder' Name='$(var.Manufacturer)'>
          <Directory Id='INSTALLDIR' Name='$(var.ProductName)' FileSource='build\Release'>
            <Component Id='Binaries' Guid='{b9007699-87b4-4d98-8fea-5a1603380f4c}'>
              <!-- executables -->
              <File Name='CouchExplorer.exe' />
              <File Name='CouchExplorer.exe.config' />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id='ProgramMenuFolder'>
        <Directory Id='ApplicationProgramsFolder' Name='$(var.ProductName)' />
      </Directory>
    </Directory>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="StartMenuShortcut" Guid="{302da7a1-6705-4631-b8c4-7f0c963d4229}">
        <Shortcut Id="CouchExplorerStartMenuShortcut"
                  Name="$(var.ProductName)"
                  Description="CouchExplorer"
                  Target="[INSTALLDIR]CouchExplorer.exe"
                  WorkingDirectory="INSTALLDIR"
                  Icon="couchExplorer.ico" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\$(var.Manufacturer)\$(var.ProductName)" Name="installed"
                       Type="integer" Value="1"
                       KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id='Complete' Level='1'>
      <ComponentRef Id='Binaries' />
      <ComponentRef Id='StartMenuShortcut' />
    </Feature>

    <InstallExecuteSequence>
      <RemoveExistingProducts Before="InstallInitialize" />
      <RemoveRegistryValues />
      <RemoveFiles />
      <InstallFiles />
      <WriteRegistryValues />
    </InstallExecuteSequence>
  </Product>
</Wix>